@font-face {
    font-family: "PTSerifRegular";
    src: url("../fonts/PTSerifRegular/PTSerifRegular.eot");
    src: url("../fonts/PTSerifRegular/PTSerifRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSerifRegular/PTSerifRegular.woff") format("woff"),
    url("../fonts/PTSerifRegular/PTSerifRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSerifBoldItalic";
    src: url("../fonts/PTSerifBoldItalic/PTSerifBoldItalic.eot");
    src: url("../fonts/PTSerifBoldItalic/PTSerifBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSerifBoldItalic/PTSerifBoldItalic.woff") format("woff"),
    url("../fonts/PTSerifBoldItalic/PTSerifBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSerifItalic";
    src: url("../fonts/PTSerifItalic/PTSerifItalic.eot");
    src: url("../fonts/PTSerifItalic/PTSerifItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSerifItalic/PTSerifItalic.woff") format("woff"),
    url("../fonts/PTSerifItalic/PTSerifItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSerifBold";
    src: url("../fonts/PTSerifBold/PTSerifBold.eot");
    src: url("../fonts/PTSerifBold/PTSerifBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSerifBold/PTSerifBold.woff") format("woff"),
    url("../fonts/PTSerifBold/PTSerifBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansCondensedLight";
    src: url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.eot");
    src: url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.woff") format("woff"),
    url("../fonts/OpenSansCondensedLight/OpenSansCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansCondensedLightItalic";
    src: url("../fonts/OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.eot");
    src: url("../fonts/OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.woff") format("woff"),
    url("../fonts/OpenSansCondensedLightItalic/OpenSansCondensedLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSansCondensedBold";
    src: url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.eot");
    src: url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.woff") format("woff"),
    url("../fonts/OpenSansCondensedBold/OpenSansCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSansItalic";
    src: url("../fonts/PTSansItalic/PTSansItalic.eot");
    src: url("../fonts/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansItalic/PTSansItalic.woff") format("woff"),
    url("../fonts/PTSansItalic/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSansBold/PTSansBold.eot");
    src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansBold/PTSansBold.woff") format("woff"),
    url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Quintessential Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Quintessential Regular'), url('../fonts/Quintessential-Regular.woff') format('woff');
}